body{
    margin: 0;
}

header{
    background-color: rgb(35, 199, 199);
    padding: 25px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}

.headerbuter{
    display: flex;
    gap: 40px;
    font-size: 20px;

}

a{
    color: white;
    text-decoration: none;
}

.buto{
    display: flex;
    gap: 20px;
}
.buto button{
    margin: 3px;
    color: aliceblue;
    border-radius: 20px;
    color: black;
    padding: 5px 13px;
    border: transparent;
    font-size: larger;
    padding: 10px 20px;
}
h1{
    margin: 0;
    border: transparent;
    
}   

.hero{
    background-color: rgb(35, 199, 199);
    padding:0 8%;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.fr{
     margin: 3px;
    color: aliceblue;
    border-radius: 20px;
    color: black;
    padding: 5px 13px;
    border: transparent;
    font-size: larger;
    padding: 10px 20px;
}
.texts{
    margin-top: 13%;
}

.img11{
    position: relative;

}